<div class="title-div center-align">
    <p class="title-main">
        <span class="green-text">Ireland</span>
        <span class="white-text">Up</span>
        <span class="orange-text">date</span>
    </p>
    <h5 class="title-tag">"All the Irish news you'll 'Eire' need!"</h5>
</div>
<div class="button-div center">
    <button class="waves-effect waves-light btn-large hoverable" id="get-news">Get the news!</button>
</div>

<div class="news container">
    <div class="divider"></div>
    <ul class="collapsible" data-collapsible="accordion">
        <li>
            <div class="collapsible-header">
                The Irish Times</div>
            <div class="collapsible-body">
                <div id="irish-times-results" class="times-results">

                </div>
            </div>
        </li>
        <li>
            <div class="collapsible-header" id="ind-header">
                The Irish Independent</div>
            <div class="collapsible-body">
                <div id="ind-results">

                </div>
            </div>
        </li>
        <li>
            <div class="collapsible-header">
                RTE</div>
            <div class="collapsible-body">
                <span>Lorem ipsum dolor sit amet.</span>
            </div>
        </li>
        <li>
            <div class="collapsible-header">
                Midwest Irish Radio</div>
            <div class="collapsible-body">
                <div id="midwest-results">

                </div>
            </div>
        </li>
    </ul>
</div>
<footer class="page-footer" id="footer">
    <div class="container center-align ">
        © 2017 Denis Molloy
    </div>
</footer>