/* font-family: 'Patua One', cursive;
font-family: 'Open Sans', sans-serif; */
body {
	background: url(/assets/img/intersection.png);
	background-attachment: fixed;
}

.title-main {
    font-family: 'Patua One', cursive;
    font-size: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(153, 153, 153);
}

.title-tag {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    color: rgb(0, 0, 0);
}

div.collapsible-body {
    background-color: #ececec
}

.collapsible-header {
    font-size: 20px;
}

#footer {
    background-color: rgba(220, 220, 220, .5);
    color: black;
    position: fixed;
    width: 100%;
    bottom: 0px;
}

div.container.center-align {
    margin-bottom: 10px;
}