body {
	background: url(/assets/img/intersection.png);
	background-attachment: fixed;
}

.title-main {
    font-family: 'Patua One', cursive;
    font-size: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
}

.title-tag {
    font-family: 'Berkshire Swash', cursive;
    color: rgb(0, 0, 0);
}

#get-news {
    margin-top:30px;
}


div.collapsible-body {
    background-color: #ececec
}

.collapsible-header {
    font-size: 20px;
}


div.container.center-align {
    margin-bottom: 10px;
}

.results-div {
    background-color: white;
    height: 10%;
}

.results-div:hover{
    text-decoration: underline;
}

.head-sum-headline,
.head-sum-summary,
.head-headline {
    color: black;
}

.head-sum-headline {
    font-size: 20px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
}

.head-sum-summary {
    font-style: italic;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 0px;
}

.head-headline {
    font-size: 20px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

@media screen and (min-width: 320px) and (max-width: 575px) { 
    .title-main {
        font-family: 'Patua One', cursive;
        font-size: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: rgb(0, 0, 0);
    }

    .title-tag {
        font-family: 'Berkshire Swash', cursive;
        font-size: 20px;
        color: rgb(0, 0, 0);
    }

    .head-sum-headline {

        font-size: 15px;
        padding-top: 5px;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 5px;
    }
    
    .head-sum-summary {
        font-style: italic;
        font-size: 10px;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 0px;
    }

    .head-headline {
        font-size: 15px;
        padding-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }

    footer {
        font-size: 10px;
    }
}